@import url('https://fonts.googleapis.com/css?family=Michroma:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/*--------------------------------Body*/
.background-color{
    background-color:#941B0C;
}

/* -----------------------------Heading*/

header{
    margin:0;
}

.main-title {
    font-family: "Michroma" , sans-serif;
    font-weight: 500;
    font-size:46px;
    margin-top: 20px;
    margin-left: 0px;
    color: #ffffff;
}

.sub-title-1 {
    font-family: "Michroma" , sans-serif;
    font-weight: 400;
    font-size:22px;
    margin-top: 10px;
    margin-left: 0px;
    color: #ffffff;
}

.header-change {
    background-color:#d92f2f;
    }

.header-change:hover {
    background-color:#fbaa1c;
    transition-duration:2s;
    transition-timing-function:ease-in-out;
}

.sub-title-2{
    font-family: "Michroma" , sans-serif;
    font-weight: 300;
    font-size:18px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    color: #ffffff;
}
/*-----------------Texts - sub heading phased out but held for future dev */

.sub-heading{
    font-family: "Monserrat" , sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    
}

.general-text {
    font-family: "Michroma" , sans-serif;
    color:#ffffff;
}

.singer-text {
    font-family: "Michroma" , sans-serif;
    color:#f6aa1c !important;
    font-weight:400;
    font-size: 20px;
}

/* -------------------------Navbar updates */

.navbar-inverse {
    margin-bottom: 0px;
    font-family:"Michroma" , sans-serif;
    font-size:20px;
    font-weight:300;
}

/* -- now using navbar-inverse 
#kevin-custom-nav {
    background-color: black !important;
  -->  

/* ----- centering and paddings ------*/

.centered-image {
    margin: 0 auto;
}

.logo-spacer-top {
    margin-top:50px;
}

.element-divider {
    margin-top:30px;
}

/*----- section paddings  -----*/

.main-section {
    margin-bottom: 50px;
    margin-top: 30px;
}


/*-------------------------------Colours*/

.header-bg-color{
    background-color: #d92f2f;
}

.main-fill-bg-color{
    background-color:#941B0C;
}

.footer-bg-color{
    background-color:#F6AA1C;
}



/*---------------------------------Links*/

a:link {
    color: #F6AA1C; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    /*color: white;*/
    text-decoration: none;
    color: #F6AA1C;
}


/*------------------- --------Video page*/

.contact-us-video {
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
}

.contact-us-video:hover {
    color: #ff0000 !important;
    transition:all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



/*----------------------------------Footer*/


/*  --- commented out deliberately 
.uppercase{
    text-transform: uppercase;
}
*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #220901;
    transition:all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #621728;
}


footer .contact-us i {
    color: #220901;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .contact-us i:hover {
    color: #621728;
    transition:all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


#footer-details{
    margin: 20px;
}


/* Media Quiries - need to review with mohamed -no max screen is set by design*/

@media (max-width:767px){
    .mobile {}
}

@media (min-width: 768px) and (max-width: 991px) {
    .tablet {}
}

@media (min-width: 992px) {
    .desktop {
    }
}