@import url('https://fonts.googleapis.com/css?family=Michroma:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');

/*--------------------------------Body*/
.background-color{
    background-color:#941B0C;
}

/* -----------------------------Heading*/

header{
    margin:0;
}

.main-title {
    font-family: "Michroma" , sans-serif;
    font-weight: 400;
    font-size:46px;
    margin-top: 20px;
    margin-left: 0px;
    color: #ffffff;
}

.sub-title-1 {
    font-family: "Michroma" , sans-serif;
    font-weight: 300;
    font-size:22px;
    margin-top: 10px;
    margin-left: 0px;
    color: #ffffff;
}


.sub-title-2{
    font-family: "Michroma" , sans-serif;
    font-weight: 200;
    font-size:18px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    color: #ffffff;
}
/*------------------------------Homepage*/

.sub-heading{
    font-family: "Monserrat" , sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    
}

.general-text {
    font-family: "Michroma" , sans-serif;
    color:#ffffff;
}




/*-------------------------------Colours*/
.header-bg-color{
    background-color: #d92f2f;
}

.main-fill-bg-color{
    background-color:#941B0C;
}

.footer-bg-color{
    background-color:#F6AA1C;
}



/*--------need to style this correctly!!!------------------Links*/
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}


/*------below is still showing default blue at hover!!------------- Video page*/

.contact-us-video {
    color: #000000;
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
}

.contact-us-video :hover {
    color: #ff0000;
    transition:all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



/*----------------------------Footer*/


/*  --- commented out deliberately 
.uppercase{
    text-transform: uppercase;
}
*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #000000;
    transition:all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #d9242f;
}


footer .contact-us i {
    color: #220901;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .contact-us i:hover {
    color: #d92f2f;
    transition:all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}






#footer-details{
    margin: 20px;
}


/* Media Quiries - no max screen is set by design*/

@media (max-width:767px){
    .mobile {
}

@media (min-width: 768px) and (max-width: 991px) {
    .tablet {
}

@media (min-width: 992px) {
    .desktop {
}